html,
body {
	height: 100%;
	width: 100%;
}

.loseHeight {
	height: auto;
}

.mui-table-view-cell {
	height: 50px;
}

.mui-table-view-cell.mui-collapse.mui-active {
	margin-top: 0px;
}

.mui-content {
	background: #F9F9F9;
}

.header-transparent {
	background-color: transparent;
	box-shadow: none;
	border: none;
}

footer {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
}

footer .sure-btn {
	width: 100%;
	background: #d43d3d;
	height: 50px;
	font-size: 1.6em;
	color: #fff;
}

footer .changePassword-sure-btn {
	background: #E1E1E1;
	color: #272727;
}

.mui-table-view:before {
	height: 0;
}

.mui-table-view-cell>a:not(.mui-btn) {
	color: #272727;
	font-size: 1.45em;
	height: 50px;
	color: #858585;
	padding-top: 19px;
	line-height: 20px;
	border-bottom: 1px solid #ECECEC;
}

.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after,
.mui-table-view-cell:after {
	width: 94%;
	left: 3%;
}

h1.mui-title {
	color: #272727;
}

.mui-action-back {
	color: #fff;
}

.go-homepage {
	color: #fff;
}

.personl-set-icon {
	width: 25px;
	height: 25px;
	margin: 15px 6px 0 0;
}

.personl-set-icon img {
	width: 21px;
}

.set-version-number img,
.set-membernotice img {
	margin-top: 2px;
}

.version-number {
	color: #D43D3D;
}

.color-9 {
	color: #858585;
	margin-right: 15px;
	line-height: 15px;
}

.mui-checkbox.mui-left label,
.mui-radio.mui-left label {
	padding-left: 30px;
	line-height: 6px;
}

.mui-checkbox.mui-left input[type=checkbox],
.mui-radio.mui-left input[type=radio] {
	left: 0px;
}

.mui-table-view {
	margin-bottom: 8px;
}

.mui-table-view.personl-head:after {
	height: 0;
}

.personl-head {
	height: 200px;
	width: 100%;
	position: relative;
}

.personl-head .personl-head-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.personl-head .personl-head-wrapper .mui-media-body h4 {
	text-align: center;
	color: #fff;
	font-size: 1.8em;
	font-weight: normal;
}

.personl-head .personl-head-wrapper .mui-media-body h4 .personl-gender-logo.female-logo {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/nv.png) no-repeat;
	background-size: 100%;
}

.personl-head .personl-head-wrapper .mui-media-body h4 .personl-gender-logo.male-logo {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/nan.png) no-repeat;
	background-size: 100%;
}

.personl-head .personl-head-wrapper .mui-media-body p {
	text-align: center;
	color: #fff;
	font-size: 1.2em;
}

.personl-head .personl-head-wrapper .mui-media-body p.show-label-wrapp {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 6px;
}

.personl-head .personl-head-wrapper .mui-media-body .show-label {
	width: auto;
	max-width: 80%;
	margin: 0 auto;
	font-size: 1em;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 2%;
	padding: 2px 6px;
}

.go-mycardInd .personl-listlogo img {
	margin-top: 2px;
}

.personl-listlogo img {
	width: 18px;
	margin-right: 15px;
}

.personl-listlogo .personl-order-icon {
	width: 20px;
	margin-right: 15px;
}


/*免密支付*/

#img_wallat_icon {
	width: 15px;
	margin-right: 18px;
	vertical-align: bottom;
	margin-top: -2px;
	margin-left: 4px;
}


/*我的积分*/


.go-myintegrateInd.mui-table-view-cell>a {
	padding-top: 17px;
}
.go-myintegrateInd.mui-table-view-cell>.my-integrate {
	padding-top: 10px;
}
.go-myintegrateInd .my-integrate #img_integrate_icon {
	margin-top: 5px;
}
.go-myintegrateInd .my-integrate .integrate_overdue {
	display: block;
	font-size: 0.9em
}
.go-myintegrateInd .my-integrate .integrate-shoppingMall {
	margin-top: 7px;
}
.go-myintegrateInd .integrate_overdue {
	display: none;
}

.go-myintegrateInd .integrate-shoppingMall {
	float: right;
	margin-right: 20px;
	font-size: 0.9em;
	margin-top: 0px;
}

.go-myintegrateInd .my-integrate-text{
	float: left;
}
#img_integrate_icon {
	float: left;
}


/*积分*/

#img_pointLottery_icon {
	margin-left: 3px;
	margin-right: 16px;
}


/*hiss*/

#img_Hiss_icon,
#img_Hidp_icon,
#img_Higame_icon {
	margin-left: 3px;
	margin-right: 17px;
}

.personl-head-bg {
	width: 100%;
	height: 100%;
	background: url(../images/personalindex-bg.png) no-repeat;
	background-size: cover;
}

.bg-blur {
	-webkit-filter: blur(7px);
	/* Chrome, Opera */
	-moz-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
}

.blur-zd {
	height: 12px;
	width: 100%;
	background: #f9f9f9;
	z-index: 95;
	position: absolute;
	margin-top: -4px;
}

.head-img-wrapper {
	width: 95px;
	height: 95px;
	margin: 60px auto 0;
}

.head-img-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.head-img-wrapper .personl-camera {
	width: 28px;
	height: auto;
	border-radius: 0;
	display: inline-block;
	position: absolute;
	top: 42%;
	left: 50%;
	margin-left: -14px;
}

.head-img-wrapper .personl-vip-rank {
	width: 38px;
	height: 35px;
	border-radius: 0;
	display: inline-block;
	position: absolute;
	top: 27%;
	left: 57%;
}

.head-img-wrapper .rank1 {
	background: url(../images/vip1.png) no-repeat;
	background-size: 100%;
}

.head-img-wrapper .rank2 {
	background: url(../images/vip2.png) no-repeat;
	background-size: 100%;
}

.head-img-wrapper .rank3 {
	background: url(../images/vip3.png) no-repeat;
	background-size: 100%;
}

.head-img-wrapper .rank4 {
	background: url(../images/vip4.png) no-repeat;
	background-size: 100%;
}

.head-img-wrapper .rank5 {
	background: url(../images/vip5.png) no-repeat;
	background-size: 100%;
}

.head-img-wrapper .rank6 {
	background: url(../images/vip6.png) no-repeat;
	background-size: 100%;
}

.personl-head-img {
	height: 145px;
}

.personl-head-img .head-img-wrapper {
	height: 95px;
	width: 95px;
	margin-top: 12px;
}

.personl-dheckbox-container {
	margin-right: -15px;
}

.personl-dheckbox-container .personl-dheckbox {
	width: 55px;
	font-size: 1.6em;
}

.Label {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 0 15px;
	font-size: 1.5em;
	margin-bottom: 50px;
}

.mui-inline {
	height: 43px;
	line-height: 43px;
}

.label-wrapper,
.label-wrapper2 {
	width: 100%;
	background: #f9f9f9;
	margin: 0 auto;
	padding: 15px 15px;
}

.label-wrapper .personalLabel1,
.label-wrapper2 .personalLabel1,
.label-wrapper .personalLabel2,
.label-wrapper2 .personalLabel2 {
	padding: 2px 15px;
	background: #272727;
	color: #fff;
	display: inline-block;
	position: relative;
	margin: 8px;
	border-radius: 3px;
}

.label-wrapper .personalLabel1 .mui-minus,
.label-wrapper2 .personalLabel1 .mui-minus,
.label-wrapper .personalLabel2 .mui-minus,
.label-wrapper2 .personalLabel2 .mui-minus {
	display: inline-block;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	background: red;
	color: #fff;
	border-radius: 100%;
	font-size: 8px;
	position: absolute;
	top: -5px;
	right: -5px;
}

.label-wrapper2 {
	background: #fff;
}

.label-wrapper2 .personalLabel2 {
	background: #c6c6c6;
	margin: 5px;
}

.points-head {
	position: relative;
	margin-bottom: 8px;
}

.points-head .rule {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #E1E1E1;
	font-size: 1.4em;
}

.points-head .rule img {
	width: 15px;
	vertical-align: middle;
}

.points-head .points-head-bg {
	-webkit-filter: blur(0px);
	filter: blur(0px);
	background: url(../images/pointsi-h.png) no-repeat;
	background-size: cover;
}

.points-head .points-head-wrapper {
	width: 220px;
	height: 90px;
	position: absolute;
	top: 45%;
	left: 50%;
	color: #fff;
	margin-left: -110px;
	margin-top: -45px;
}

.points-head .points-head-wrapper p {
	font-size: 1.6em;
	color: #e1e1e1;
	text-align: center;
	margin-top: 10px;
}

.points-head .points-head-wrapper p em {
	font-size: 1.2em;
	color: #d43d3d;
	margin: 5px;
	font-family: "黑体";
}

.points-head .points-head-wrapper strong {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 6em;
	font-weight: normal;
	line-height: 1em;
}

.integrate-list-logo img {
	width: 17px;
	margin-right: 8px;
	margin-top: 3px;
}

.integrate-list-logo .integrate-detail-icon {
	width: 14px;
	margin-right: 9px;
	margin-left: 2px;
}

.memberNotice {
	padding-left: 50px;
	position: relative;
	padding-bottom: 18px;
	height: auto;
}

.memberNotice h4 {
	font-weight: normal;
	font-size: 1.6em;
	line-height: 26px;
	margin-bottom: 8px;
	color: #272727;
}

.memberNotice p {
	font-size: 1.6em;
	color: #858585;
}

.memberNotice .memberNotice-article {
	height: auto;
	overflow: hidden;
}

.memberNotice .memberNotice-article span {
	width: 8%;
	color: #272727;
	height: 100%;
	font-size: 1.4em;
	line-height: 1.6;
}

.memberNotice .memberNotice-article p {
	width: 92%;
	color: #858585;
	line-height: 1.6;
	margin-top: -1px;
}

.memberNotice .memberNotice-article .black-mark {
	font-weight: 400;
	font-size: 1em;
	color: #222;
}

.memberNotice .memberNotice-article .red-mark {
	color: red;
}

.memberNotice .memberNotice-name {
	position: absolute;
	display: inline-block;
	width: 22px;
	height: 22px;
	left: 15px;
	top: 15px;
	background: #D43D3D;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	line-height: 22px;
	font-size: 1.6em;
}

.memberNotice .memberNotice-name:nth-child(even) {
	background: #272727;
	top: 49px;
}

.memberNotice-footer {
	padding: 0 15px;
	text-align: center;
	color: #272727;
	display: block;
}

.myOrder-content.mui-content {
	padding-top: 0;
}

.myOrder-content.mui-content small {
	display: block;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	line-height: 50px;
	color: #272727;
	font-size: 1.6em;
	display: none;
}

.myorder {
	border: 1px solid #ECECEC;
	width: 94%;
	margin: 8px auto;
	border-radius: 6px;
}

.myorder .mui-control-item {
	border: none;
	color: #272727;
	background: #fff;
}

.mui-segmented-control .mui-control-item.mui-active {
	background-color: #d43d3d;
	border: 1px solid #D43D3D;
}

.mui-control-content {
	padding-bottom: 59px;
}

.mui-collapse.order-collapse {
	background: #f9f9f9;
	height: auto;
}

.mui-collapse.order-collapse a {
	background: #fff;
	height: 50px;
	line-height: 24px;
}

.mui-collapse.order-collapse a img {
	width: 22px;
	margin-right: 10px;
}

.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after {
	background: #ECECEC;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content {
	width: 100%;
	margin: 22px auto 0;
	padding: 0;
	background: #f9f9f9;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content img {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin: -6px 0;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul {
	margin-top: 0;
	margin-bottom: 8px;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul .myorderCart-body {
	border-bottom: 1px solid #ECECEC;
	padding: 10px 0;
	height: auto;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul .myorderCart-body p {
	padding-left: 58px;
	line-height: 28px;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul .myorderCart-body p .myorderCurrent {
	color: #D43D3D;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul .myorder-head-name {
	font-size: 1.5em;
	color: #272727;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul .myorder-head-name strong {
	margin-right: 15px;
	font-weight: normal;
	color: #858585;
	font-size: .9em;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul .myorderCart-footer {
	height: 41px;
	padding: 5px 15px;
	font-size: 1.4em;
	color: #858585;
	text-align: left;
	text-indent: 1.5em;
	line-height: 30px;
	border-bottom: 1px solid #ECECEC;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul .myorderCart-footer button {
	height: 28px;
	float: right;
	outline: none;
	background: none;
	width: 80px;
	border: none;
	padding: 5px 12px;
	text-align: center;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul .myorderCart-footer button:first-child {
	background-color: #D43D3D;
	color: #FFF;
	margin-right: 15px;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content ul .myorderCart-footer button:last-child {
	border: 1px solid #d9d9d9;
	color: #858585;
	margin-right: 5px;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content .grayOrder .myorderCart-body p {
	color: #AFAFAF;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content .grayOrder .myorderCart-body p .myorderCurrent {
	color: #AFAFAF;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content .grayOrder .myorder-head-name {
	color: #AFAFAF;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content .grayOrder .myorderCart-footer {
	color: #AFAFAF;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content .grayOrder .myorderCart-footer button:first-child {
	background-color: #AFAFAF;
	color: #FFF;
}

.mui-collapse.order-collapse .mui-collapse-content.myorder-content .grayOrder .myorderCart-footer button:last-child {
	color: #AFAFAF;
}

.mui-collapse.order-collapse .mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell.myorder-head-name:after,
.mui-collapse.order-collapse .mui-table-view-cell.myorder-head-name:after {
	width: 82%;
	left: 10%;
}

.mui-collapse.order-collapse .myorder-detail {
	height: 44px;
	border-bottom: 1px solid #ECECEC;
	line-height: 44px;
	padding-left: 35px;
	color: #858585;
}

.mui-collapse.order-collapse .myorder-detail a.mui-navigate-right {
	color: #858585;
	position: relative;
	display: inline-block;
	width: 95%;
	height: 22px;
	line-height: 20px;
	font-size: 1.5em;
}

.mui-collapse.order-collapse #queue-item .mui-table-view-cell.order-collapse:last-child:after,
.mui-collapse.order-collapse #queue-item .mui-table-view-cell.order-collapse:last-child:before {
	height: 0;
}

.mui-collapse.order-collapse #my-queue .mui-table-view-cell:last-child:before {
	height: 0px;
}

.mui-collapse.order-collapse #my-queue .queue-list-footer:after {
	height: 0;
}

.mui-collapse.order-collapse #my-queue .mui-table-view:after {
	height: 1px;
	width: 100%;
	background: #f9f9f9;
}

.mui-collapse.order-collapse #my-queue .mui-table-view:first-child {
	margin-top: 8px;
}

.mui-collapse.order-collapse #my-queue .mui-table-view {
	width: 100%;
	margin: 0;
	margin-bottom: 8px;
	height: auto;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .store-hreder {
	width: 100%;
	height: 52px;
	padding: 11px 15px;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .store-hreder .store-radius {
	width: 35px;
	height: 35px;
	border-radius: 26px;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .store-hreder .store-name {
	font-size: 1.7em;
	font-weight: normal;
	line-height: 30px;
	margin-left: 6px;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .store-hreder .store-hreder-right {
	float: right;
	font-size: 1.4em;
	line-height: 30px;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-contnet {
	width: 100%;
	height: 100px;
	padding: 11px 15px;
	line-height: 38px;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-contnet .queue-list-div {
	width: 33.3%;
	height: 100%;
	text-align: center;
	float: left;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-contnet .queue-list-div p {
	color: #afafaf;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-contnet .queue-list-div .cell-my-queue {
	color: #fff;
	background: #df4242;
	width: 35px;
	height: 35px;
	line-height: 33px;
	display: block;
	margin: 0 auto;
	border: 2px solid #f5c6c6;
	border-radius: 25px;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-contnet .queue-list-div .cell-queue-font {
	font-size: 1.8em;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-footer {
	height: 44px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	border-bottom: 1px solid #ECECEC;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-footer p {
	float: left;
	font-size: 1em;
	height: 100%;
	line-height: 44px;
	color: #afafaf;
	width: 70%;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-footer .cell-list-footer-buttons {
	float: right;
	width: 50px;
	height: 44px;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-footer .cell-list-footer-buttons button {
	width: 52px;
	height: 26px;
	padding: 0;
	margin-top: 9px;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-footer .cell-list-footer-buttons .cell-list-left-button:active {
	background-color: transparent;
	color: inherit;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-footer .cell-list-footer-buttons .cell-list-left-button {
	float: left;
	border: 1px solid #f9f9f9;
}

.mui-collapse.order-collapse #my-queue .mui-table-view .queue-list-footer .cell-list-footer-buttons .cell-list-right-button {
	float: right;
	color: #fff;
	background: #df4242;
	font-size: 14px;
}


/*排号过期*/

.mui-collapse.order-collapse #my-queue .mui-table-view.grayQueue .store-hreder {
	color: #afafaf;
}

.mui-collapse.order-collapse #my-queue .mui-table-view.grayQueue .queue-list-contnet {
	color: #afafaf;
}

.mui-collapse.order-collapse #my-queue .mui-table-view.grayQueue .queue-list-contnet .queue-list-div .cell-my-queue {
	background: #afafaf;
	border: 2px solid #afafaf;
}

.mui-collapse.order-collapse #my-queue .mui-table-view.grayQueue .queue-list-footer {
	color: #afafaf;
}

.mui-collapse.order-collapse #my-queue .mui-table-view.grayQueue .queue-list-footer .cell-list-footer-buttons .cell-list-right-button {
	background: #afafaf;
}

.close-txup {
	height: 44px;
	background: #1c1c1c;
}

.close-txup img {
	width: 9%;
	margin-top: 3%;
}

#user_head {
	background: #323436;
	height: 50px;
	position: relative;
	z-index: 997;
	left: 0px;
	top: 0;
	width: 100%;
}

#user_head .user_logo {
	position: absolute;
	display: block;
	text-align: center;
	overflow: hidden;
	width: 110px;
	height: 50px;
	line-height: 50px;
	left: 0px;
	top: 0px;
}

#user_head .user_logo i {
	display: inline-block;
	margin-top: 6px;
	font-size: 110px;
	width: 98px;
	height: 20px;
	color: #fff;
	vertical-align: middle;
}

#user_head .user_menu {
	position: absolute;
	width: 150px;
	height: 50px;
	top: 0px;
	right: 0px;
}

#user_head .user_menu a {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
}

#user_head #left_ico {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	line-height: 50px;
}

#user_head #left_ico i {
	color: #fff;
	font-size: 24px;
}

#user_head #right_ico {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
	color: #999;
	text-align: center;
	line-height: 50px;
}

#user_head #right_ico i {
	color: #fff;
	margin-top: 10px;
	font-size: 24px;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
}

#user_head span {
	position: absolute;
	display: block;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	color: #fff;
	border-left: 1px solid #262626;
	left: 60px;
	padding-left: 20px;
	top: 12px;
}

#user_head a:active {
	background: #262525;
}

#dpage {
	background: #ebebeb;
	height: 78px;
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: -121px;
	bottom: -143px;
	visibility: hidden;
	z-index: 999;
	-webkit-transform: translate3d(0px, 0, 0px);
	-moz-transform: translate3d(0px, 0, 0px);
	transform: translate3d(0px, 0, 0px);
	transition: all 0.3s;
}

#dpage.show {
	visibility: visible;
	-webkit-transform: translate3d(0px, -143px, 0px);
	-moz-transform: translate3d(0px, -143px, 0px);
	transform: translate3d(0px, -143px, 0px);
}

#dpage a {
	display: block;
	width: 100%;
	text-align: center;
	height: 50px;
	background: #fff;
	color: #333;
	line-height: 40px;
	font-size: 16px;
	position: relative;
}

#dpage a:nth-child(3) {
	margin-top: 10px;
	margin-bottom: 10px;
	background: none;
}

.logoBox {
	display: block;
	padding-top: 10%;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.htmleaf-container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: #383838;
	display: none;
	z-index: 996;
}

.htmleaf-content {
	font-size: 150%;
	padding: 1em 0;
}

.htmleaf-content h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.htmleaf-content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

.htmleaf-header {
	padding: 1em 190px 1em;
	letter-spacing: -1px;
	text-align: center;
	background: #66677c;
}

.htmleaf-header h1 {
	color: #D5D6E2;
	font-weight: 600;
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0;
	font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

.htmleaf-header h1 span {
	font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
	display: block;
	font-size: 60%;
	font-weight: 400;
	padding: 0.8em 0 0.5em 0;
	color: #c3c8cd;
}

.htmleaf-demo a {
	color: #1d7db1;
	text-decoration: none;
}

.htmleaf-demo {
	width: 100%;
	padding-bottom: 1.2em;
}

.htmleaf-demo a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.6em 1em;
	border: 3px solid #1d7db1;
	font-weight: 700;
}

.htmleaf-demo a:hover {
	opacity: 0.6;
}

.htmleaf-demo a.current {
	background: #1d7db1;
	color: #fff;
}

.htmleaf-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.5em;
	text-align: center;
}

.htmleaf-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0, 0, 1, 22.5deg);
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.htmleaf-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.htmleaf-icon span {
	display: none;
}

.htmleaf-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.htmleaf-footer {
	width: 100%;
	padding-top: 10px;
}

.htmleaf-small {
	font-size: 0.8em;
}

.center {
	text-align: center;
}

.related {
	color: #fff;
	background: #494A5F;
	text-align: center;
	font-size: 1.25em;
	padding: 0.5em 0;
	overflow: hidden;
}

.related>a {
	vertical-align: top;
	width: calc(80%);
	max-width: 340px;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

.related a {
	display: inline-block;
	text-align: left;
	margin: 20px auto;
	padding: 10px 20px;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.related a:hover,
.related a:active {
	opacity: 1;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 4px;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related h3 {
	font-family: "Microsoft YaHei", sans-serif;
}

.related a h3 {
	font-weight: 300;
	margin-top: 0.15em;
	color: #fff;
}

.icon-htmleaf-home-outline:before {
	content: "\e5000";
}

.icon-htmleaf-arrow-forward-outline:before {
	content: "\e5001";
}

@media screen and (max-width: 50em) {
	.htmleaf-header {
		padding: 3em 10% 4em;
	}
	.htmleaf-header h1 {
		font-size: 2em;
	}
}

@media screen and (max-width: 40em) {
	.htmleaf-header h1 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 30em) {
	.htmleaf-header h1 {
		font-size: 1.2em;
	}
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#clipArea {
	height: 75%;
}

#file {
	float: left;
	height: 100%;
}

.clipBtn {
	height: 100%;
	width: 100%;
	background: #D43D3D;
	border-radius: 0px;
	border: 0;
	outline: none;
	color: #fff;
	font-size: 16px;
	z-index: 999;
}

.filename {
	position: absolute;
	outline: 0 none;
	line-height: 1.5rem;
	font-size: 1.5rem;
	color: #999;
	width: 100%;
	margin: 0;
	overflow: hidden;
	cursor: default;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 0;
	top: 9.2rem;
	text-align: center;
}

.button {
	float: left;
	height: 100%;
	display: inline-block;
	outline: 0 none;
	margin: 0;
	cursor: pointer;
	border: 0;
	width: 100%;
	background: #fff;
}

#dpage a input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	border: solid 1px #ddd;
	opacity: 0;
}

#alert-select #select-image a input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	border: solid 1px #ddd;
	opacity: 0;
}

input[type=button]::-moz-focus-inner {
	padding: 0;
	border: 0 none;
	-moz-box-sizing: content-box;
}

input[type=button]::-webkit-focus-inner {
	padding: 0;
	border: 0 none;
	-webkit-box-sizing: content-box;
}

input[type=text]::-moz-focus-inner {
	padding: 0;
	border: 0 none;
	-moz-box-sizing: content-box;
}

input[type=text]::-webkit-focus-inner {
	padding: 0;
	border: 0 none;
	-webkit-box-sizing: content-box;
}

.blue .button {
	color: #fff;
	background: #18b4ed;
	height: 100%;
}

.changePassword .mui-table-view-cell,
.changePetname .mui-table-view-cell {
	padding: 5px 0;
}

.changePassword .mui-table-view-cell label,
.changePetname .mui-table-view-cell label {
	font-size: 1.6em;
	color: #272727;
	line-height: 20px;
}

.changePassword .mui-table-view-cell label img,
.changePetname .mui-table-view-cell label img {
	width: 13px;
	margin-right: 10px;
}

.changePassword .mui-table-view-cell input,
.changePetname .mui-table-view-cell input {
	font-size: 1.6em;
}

.changePassword .mui-table-view-cell .must-text,
.changePetname .mui-table-view-cell .must-text {
	color: #D43D3D;
}

.changePetname .mui-table-view-cell label img {
	width: 18px;
}

.helpcenter-li.mui-table-view-cell {
	height: auto;
}

.helpcenter-li.mui-table-view-cell a {
	height: 50px;
	padding-right: 30px;
}

.helpcenter-li.mui-table-view-cell .mui-collapse-content {
	border-top: 1px solid #d9d9d9;
}

.helpcenter-li.mui-table-view-cell .mui-collapse-content p {
	font-size: 1.6em;
	color: #858585;
	line-height: 28px;
}


/*# sourceMappingURL=personl.css.map */

.tellog_wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}

.telAlert {
	width: 80%;
	height: 177px;
	margin: 60% auto;
	background: rgb(255, 255, 255);
	border-radius: 10px;
}

.telAlert h1 {
	line-height: 35px;
	font-size: 19px;
	text-align: center;
}

.telAlert p {
	line-height: 30px;
	text-align: center;
	font-size: 17px;
}

.telAlert h2 {
	line-height: 45px;
	font-size: 19px;
	text-align: center;
	border-top: 1px solid #ccc;
	color: #fff;
	font-weight: normal;
	background: #d43d3d;
	height: 45px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 40px;
}

.worldTel {
	width: 100%;
	height: 30%;
	padding: 10px;
	font-size: 14px;
}

.worldTel a {
	display: block;
	line-height: 37px;
	text-align: center;
	font-size: 20px;
}

.tanKuang {
	position: absolute;
	width: 50%;
	margin: 0 auto;
	height: 35px;
	text-align: center;
	background: #ccc;
	line-height: 35px;
	border-radius: 5px;
	bottom: 100px;
	left: 30%;
	display: none;
}

.mui-btn.mui-active:enabled,
.mui-btn:enabled:active,
button.mui-active:enabled,
button:enabled:active,
input[type=button].mui-active:enabled,
input[type=button]:enabled:active,
input[type=reset].mui-active:enabled,
input[type=reset]:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
	color: #272727;
}